body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.log-in-page,
.log-in-page * {
    box-sizing: border-box;
}

.log-in-page {
    background: #a9cbc9;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}


.rectangle-1 {
    background: #f0e7cf;
    border-radius: 35px;
    width: 650px;
    height: 450px;
    position: absolute;
    left: 41%;
    top: 10%;
}

.rectangle-2 {
    background: #f8f4ee;
    border-radius: 25px;
    width: 93.33%;
    height: 5%; 
    position: absolute;
    left: 3.33%;
    top: 2.33%; 
}

.rectangle-3 {
    background: #cea778;
    width: 120%;
    height: 6%;
    position: absolute;
    left: -3%;
    bottom: 0;
}

.create-your-forms-seamlessly {
    color: #44585f;
    text-align: left;
    font: 400 3.47vw "Dela Gothic One", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 4.03%;
    top: 28.44%;
    width: 33.68%;
    height: auto;
}

.empower-your-survey-data-with-sentiment-analysis {
    color: #44585f;
    text-align: left;
    font: 400 1.47vw "Cabin Condensed", sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 4.03%;
    top: 60%;
    width: 33.68%;
}

.text {
    color: #000000;
    text-align: left;
    font: 400 1.47vw "Cabin", sans-serif;
    position: absolute;
    left: 62.08%;
    top: 28.13%;
}

.log-in-to-try-insert-web-app-name {
    color: #61492e;
    text-align: left;
    font: 400 1.47vw "Cabin", sans-serif;
    position: absolute;
    left: 54.03%;
    top: 18%;
}

.email-container {
    background: #e4d2bd;
    width: 42.92%;
    height: 8.71%;
    position: absolute;
    left: 45.76%;
    top: 28.44%;
}

.email-content {
    display: flex; 
    align-items: center; 
}

.email-container .ImgEmail {
    width: 50px; 
    height: 50px; 
    fill: #61492E;
    margin-right: 10px;
    margin-left: 10px;
}

.email-container label {
    color: #61492e;
    text-align: left;
    font: 400 1.92vw "Cabin", sans-serif;
    cursor: pointer; 
}

.email-container .email-input {
    display: none;
    width: 100%; 
    height: 100%; 
    font-size: 16px; 
    padding: 16px; 
    border: 0px solid #ccc; 
    border-radius: 5px; 
    margin-top: -3px;
}

    .email-container .email-input:focus {
        border: 1px solid #007bff;
    }

.password-container {
    background: #e4d2bd;
    width: 42.92%;
    height: 8.71%;
    position: absolute;
    left: 45.76%;
    top: 43%;
}

.password-content {
    display: flex; 
    align-items: center; 
}

.password-container .ImgPassword {
    width: 70px; 
    height: 70px; 
    fill: #61492E;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: -10px;
}

.password-container label {
    color: #61492e;
    text-align: left;
    font: 400 1.92vw "Cabin", sans-serif;
    cursor: pointer;
    margin-top: -6px;
}

.password-container .password-input {
    display: none;
    width: 100%; 
    height: 100%;
    font-size: 16px; 
    padding: 16px;
    border: 0px solid #ccc; 
    border-radius: 5px; 
    margin-top: -8px;
}

    .password .password-input:focus {
        border: 1px solid #007bff;
    }

.forgot-password {
    color: #61492e;
    text-align: left;
    font: 400 1.47vw "Cabin", sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 77%;
    top: 52%;
    z-index: 1;
}

    .forgot-password:hover {
        color: #E8BA84;
    }

.don-t-have-an-account {
    color: #61492e;
    text-align: left;
    font: 400 1.68vw "Cabin", sans-serif;
    position: absolute;
    left: 54.03%;
    top: 78%;
}

.rectangle-7 {
    background-color: #CEA778; 
    color: white; 
    border: none;
    border-radius: 35px; 
    width: 20%;
    height: 7.62%; 
    position: absolute;
    left: 57.22%;
    top: 62%;
    cursor: pointer;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

    .rectangle-7:hover {
        background-color: #E8BA84; 
    }


.log-in {
    color: #61492e;
    text-align: left;
    font: 400 2.12vw "Cabin", sans-serif;
    position: absolute;
    left: 35%;
    top: 20%;
}

.sign-up {
    color: #61492e;
    text-align: left;
    font: 400 1.68vw "Cabin", sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 73%;
    top: 78%;
}

    .sign-up:hover {
        color: #E8BA84;
    }


